.home {
  height: calc(100vh - 100px);
  padding: 50px 0 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease-in-out 1s;
}
.home-heading {
  position: relative;
  top: -100%;
}
.home-heading.load {
  transition: 0.8s ease-in-out;
  top: 0;
}
.home h2 {
  font-size: clamp(1.1rem, 1vw, 2rem);
}
#h2,
#h4 {
  width: fit-content;
  position: relative;
  right: -444vw;
  z-index: 11;
  margin: 10px auto;
  padding: 5px 20px;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(61, 61, 61);
  background: linear-gradient(to right, rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.1), transparent 80%);
}
#h3,
#h5 {
  width: fit-content;
  position: relative;
  left: -444vw;
  z-index: 11;
  margin: 10px auto;
  padding: 5px 20px;
  border-right: 1px solid white;
  border-top: 1px solid rgb(61, 61, 61);
  background: linear-gradient(to left, rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.1), transparent 80%);
}
#h2.load {
  transition: 1s ease 0.3s;
  right: 0;
}
#h3.load {
  transition: 1s ease 0.8s;
  left: 0;
}
#h4.load {
  transition: 1s ease 1.3s;
  right: 0;
}
#h5.load {
  transition: 1s ease 1.8s;
  left: 0;
}
@media (max-height: 500px) {
  .home-page {
    flex-direction: row;
  }
  #h2,
  #h3,
  #h4,
  #h5 {
    display: inline-block;
    font-size: 12px;
  }
}
