.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.project-card {
  margin: 33px 0;
  padding: 12px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 7px 2px aliceblue;
  background: linear-gradient(to top right, black, rgb(124, 124, 124), black, rgb(158, 158, 158));
}
.project-card h2 {
  width: fit-content;
  height: fit-content;
  margin: 10px auto;
  padding: 10px 30px;
  background: radial-gradient(ellipse at 50% 50%, rgb(192, 192, 192, 0.5), rgb(192, 192, 192, 0.3), transparent 50%);
}
.project-card p {
  margin-bottom: 20px;
  line-height: 25px;
}
.project-image-link-container {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-image {
  width: 100%;
  box-shadow: 0 0 10px 5px black;
}
.project-image-2 {
  width: 300px;
  border-radius: 5px;
}
.project-link {
  width: 100px;
  height: 50px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
  top: -30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(rgb(0, 255, 255, 0.8), rgb(0, 0, 128, 0.8));
}
