.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.javascriptive-link {
  margin: 50px auto;
  padding: 3px 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: linear-gradient(to top right, black, rgb(106, 106, 106), black);
}
.project-card {
  margin: 33px 0;
  padding: 12px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 7px 2px aliceblue;
  background: linear-gradient(to top right, black, rgb(124, 124, 124), black, rgb(158, 158, 158));
}
.project-card h2 {
  padding: 20px;
}
.project-card p {
  padding: 30px 15px;
  line-height: 25px;
}
.project-image-link-container {
  width: fit-content;
  height: fit-content;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-image {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px black;
}
.project-image-2 {
  width: 100%;
}
.project-link {
  width: 100px;
  height: 50px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
  top: -30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgb(34, 96, 162);
  /* border: solid yellow; */
}
