.section-heading {
  width: fit-content;
  margin: 20px auto;
  padding: 8px 15px;
  font-size: clamp(1.1rem, 3vw, 1.8rem);
  border-bottom: 1px solid white;
  background: linear-gradient(transparent 80%, rgb(255, 255, 255, 0.5));
}
