.section-heading {
  width: fit-content;
  margin: 20px auto;
  padding: 8px 15px;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  border-bottom: 1px solid white;
  background: radial-gradient(ellipse at 50% 110%, rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0.1), transparent 70%);
}
